<i ng-click="location('#!/')" class="mdi mdi-navigation-close"></i>
<i ng-click="$root.TOUR=$root.TOUR+1" class="mdi mdi-navigation-arrow-forward"></i>
<li idx="1">
    <div>
        <img src="img/tour/1.png">
        <a ng-click="$root.TOUR=2">sim</a>
        <a ng-click="location('#!/')">não</a>
    </div>
</li>
<li idx="2" ng-click="$root.TOUR=3">
    <i class="mdi mdi-action-store"></i>
    <span>Produtos</span>
    <div class="traco"></div>
    <p>
        Entre na aba de produtos
        <br>para conferir todos os
        <br>itens disponíveis e encontrar
        <br>ofertas exclusivas do <b>market4u</b>.
        Você também pode utilizar os
        <br><b>filtros</b> para <b>facilitar</b>
        <br>ainda mais a sua busca.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="3" ng-click="$root.TOUR=4">
    <i class="mdi mdi-action-credit-card"></i>
    <span>Carteira</span>
    <div class="traco"></div>
    <p>
        Não quer usar cartão de crédito?
        <br>Não precisa. Você pode colocar
        <br>crédito em sua carteira digital do
        <br><b>market4u</b>. Clique em carteira e
        <br>conheça as opções.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="4" ng-click="$root.TOUR=5">
    <img src="img/barcodeQrCode.png">
    <span>Escanear</span>
    <div class="traco"></div>
    <p>
        Para fazer o pagamento, clique
        <br>em <b>escanear</b> e aponte a câmera para o <b>código de barras</b> do produto.
        Assim você conseguirá efetuar o pagamento tranquilamente.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="5" ng-click="$root.TOUR=6">
    <i class="mdi mdi-action-lock-open"></i>
    <span>Destravar</span>
    <div class="traco"></div>
    <p>
        <b>Opção disponível apenas para <br>maiores de 18 anos.</b>
        <br>É só clicar em <b>Destravar</b>
        <br>e a porta será aberta!
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="6" ng-click="$root.TOUR=7;menuOpen();">
    <i class="mdi mdi-social-person"></i>
    <span>Perfil</span>
    <div class="traco"></div>
    <p>
        Em <b>perfil</b>, você acessa:
        <br><div class="bolinha"></div>Dados pessoais;
    <br><div class="bolinha"></div>Dados de acesso;
    <br><div class="bolinha"></div>Endereço;
    <br><div class="bolinha"></div>Suas preferências.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="7" ng-click="location('#!/')">
    <div>
        <div class="traco"></div>
        <p>
            Em <b>Menu</b>, você tem acesso a tudo o
            <br>que precisa para ter mais
            <br>praticidade em sua experiência com
            <br>o <b style="color:#4ca935">app market4u</b>.
        </p>
        <div class="traco"></div>
    </div>
</li>