<md-content class="scrollable-content" scroll md-scroll-y>
    <form id="formCadastro" class="form" onsubmit="return false;" method="post">
        <ul id="passo-a-passo" ajustes="{{AJUSTES?1:0}}">
            <li class="ajustes img" ng-if="AJUSTES">
                <div id="boxImg">
                    <input style="display: none" type="file" id="fotoCadastro" name="fotoCadastro" ext="png,jpg,jpge" />
                    <img id="fotoCadastroImg" onclick="$('#fotoCadastro').click();" src="{{$root.usuario.url_avatar}}" onerror="onErrorUser(this)" alt="Enviar foto" width="35" height="35" border="0" />
                    <i onclick="$('#fotoCadastro').click();" class="mdi mdi-image-photo-camera"></i>
                </div>
                <div class="clearBoth"></div>
                <h2>{{$root.usuario.NOME}}</h2>
                <script type="application/javascript">
                    setTimeout(function() {
                        fotoCadastro();
                    }, 2000);
                </script>
            </li>
            <li class="ajustes t" ng-if="AJUSTES">
                <div>
                    <h2>MINHA CONTA</h2>
                </div>
            </li>
            <li class="{{item.ACTIVE || AJUSTES?'active':''}} {{item.ACTIVE_AJUSTES?'active_ajustes':''}}" level="{{$index}}" ng-repeat="item in ITENS">
                <div ng-include="item.SRC"></div>
                <div class="boxBtns">
                    <button ng-if="$index > 0 && !AJUSTES" t="PREV" ng-click="btnLevel($index-1)" type="button">Voltar</button>
                    <button ng-if="!AJUSTES" ng-click="btnLevel($index+1, 'NEXT')" t="NEXT" level="{{$index+1}}" type="button">{{ITENS.length==$index+1?(usuario.ID?'Salvar':'Começar'):'Próximo'}}</button>
                    <button style="background: #CCC !important;" ng-if="!AJUSTES" ng-click="logout()" type="button">Cancelar</button>
                    <button ng-if="AJUSTES" ng-click="salvar()" type="button">Salvar</button>
                </div>
            </li>
            <!--<li class="ajustes t" ng-if="AJUSTES">
                <div>
                    <h2>MINHA CARTEIRA</h2>
                </div>
            </li>
            <li class="ajustes t" ng-if="AJUSTES">
                <div>
                    <h2>NOTIFICAÇÕES</h2>
                </div>
            </li>-->
            <li ng-click="logout()" class="ajustes sair" ng-if="AJUSTES">
                <div>
                    <h2>Sair da conta</h2>
                </div>
            </li>
        </ul>
    </form>
</md-content>