<h2 ng-click="open($index)">Termos de uso e política de privacidade</h2>

<div class="boxDados">
    <h3 class="{{$root.usuario.CONCORDO_TERMOS_POLITICA?'active_checkbox':''}}">
        <label ng-click="$root.usuario.CONCORDO_TERMOS_POLITICA = $root.usuario.CONCORDO_TERMOS_POLITICA?0:1" class="checkbox_custom">Li e Concordo com os <span class="checkmark"></span></label>
        <a ng-click="AppBrowser($root.usuario.TERMOS_DE_USO)">Termos de Uso</a> e a <a ng-click="AppBrowser($root.usuario.POLITICA_DE_PRIVACIDADE)">Política de Privacidade</a>
    </h3>
</div>